@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply h-full w-full;
    }

    .hidden {
        display: none;
    }
    i > svg {
        @apply w-full h-full;
    }
}

@layer icon {
    i.icon {
        display: flex;
        align-items: center;
        justify-content: center;
        @apply w-[1em] h-[1em] border-white fill-primary;
    }

    i.icon > svg {
        @apply w-full h-full;
    }
}
