@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply h-full w-full;
    }

    .hidden {
        display: none;
    }
    i > svg {
        @apply w-full h-full;
    }

    h1 {
        @apply text-primary font-bold text-xl;
    }

    h2 {
        @apply text-primary font-bold text-lg;
    }

    h3 {
        @apply text-primary font-bold;
    }
}

@layer components {
    .help > img {
        @apply border border-gray rounded max-h-[40svh] mx-auto mt-2 mb-2;
    }

    .help h1 {
        @apply text-center;
    }

    .help h1,
    .help h2,
    .help h3 {
        @apply mt-6;
    }

    .help > p {
        @apply mt-2;
    }

    .help a {
        @apply text-primary;
    }

    .blur-background {
        backdrop-filter: blur(4px);
    }

    .no-touch-highlight {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }

    .disable-pointer-events {
        pointer-events: none;
    }

    .enable-pointer-events {
        pointer-events: all;
    }

    .break-any {
        overflow-wrap: anywhere;
    }
}

@layer icon {
    i.icon {
        display: flex;
        align-items: center;
        justify-content: center;
        @apply w-[1em] h-[1em] border-white fill-primary;
    }

    i.icon > svg {
        @apply w-full h-full;
    }
}
